@model HousingType
@{
    ViewData["Title"] = "EditHousingType";
}

<h1>@ViewBag.Action Housing</h1>

<br />

<br />
<form asp-action="AddHousingType" method="post">
    <div class="row">
        <div class="col">
            <label class="label" asp-for=" buildingDescription">Description:</label>
            <input asp-for=" buildingDescription" type="text" class="form-control" id="buildingDesctiption" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="label" asp-for="building">Building:</label>
            <input asp-for="building" type="text" class="form-control" id="building" />
        </div>
        <div class="col">
            <label class="label" asp-for="cost">Cost:</label>
            <input asp-for="cost" type="number" class="form-control" id="cost" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="label" asp-for="type">Type:</label>
            <input asp-for="type" type="text" class="form-control" id="type" />
        </div>
        <div class="col">
            <label class="label" asp-for="isActive">Is Active:</label>
            <input asp-for="isActive" type="checkbox" class="form-control" id="isActive" />
        </div>
    </div>
    <br />
    <input type="hidden" asp-for="housingTypeId" />
    <div class="form-group">
        <button class="btn-dark" type="submit" value="Submit">@ViewBag.Action</button>
        <a class="btn btn-danger ml-2" asp-area="Admin" asp-controller="Events" asp-action="HousingType">Close</a>
    </div>
</form>
<br />
<br />