@model User
@{
    ViewData["Title"] = "CreateNew";
}
<br />
<br />
<h1>New User</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form method="post" asp-action="CreateNew">
        <div class="row">
            <div class="col">
                <label>Username:</label>
                <input asp-for="Email" type="text" id="email" placeholder="Username" class="form-control" />
            </div>
            <div class="col">
                <label>Password:</label>
                <input asp-for="Password" type="password" id="password" placeholder="Password" class="form-control" />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>First Name:</label>
                <input asp-for="FirstName" type="text" id="firstName" placeholder="First Name" class="form-control" />
            </div>
            <div class="col">
                <label>Last Name:</label>
                <input asp-for="LastName" type="text" id="lastName" placeholder="Last Name" class="form-control" />
            </div>
        </div>
        <br />
        <br />
        <button type="submit" class="btn btn-dark" value="Submit">Create New</button>
    </form>
