@{
    ViewData["Title"] = "Home Page";
}


<div style="height: 1000px">

    <br />
    <br />
    <br />
    <div class="centerLink"><a asp-area="" asp-controller="Home" asp-action="Register" class="buttonLink">Register</a></div>
    <br />
    <br />
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/img/Horses.jpg">
                <img src="~/img/Horses.jpg" alt="Activity" width="600" height="400">
            </a>
            <div class="desc">Horseback riding for all ages. Trail riding for those 16 and older and arena riding for those younger.</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/img/MealsType.jpg">
                <img src="~/img/MealsType.jpg" alt="Meals" width="600" height="400">
            </a>
            <div class="desc">Delicious meals that will satisfy the pikest of eaters. Multiple meal options available.</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/img/MeetingArea.jpg">
                <img src="~/img/MeetingArea.jpg" alt="Meeting Area" width="600" height="400">
            </a>
            <div class="desc">Multiple meeting rooms are available with comfortable chairs and different presentation options.</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/img/Tubing.jpg">
                <img src="~/img/Tubing.jpg" alt="Water Activities" width="600" height="400">
            </a>
            <div class="desc">Multiple waterfronts activities are available, from in-water inflatables to water skiing and wake surfing.</div>
        </div>
    </div>
    <br />
    <p class="myP">&nbsp;</p>
    <p class="myP">
        Looking for a place to host a church retreat, school camp, or family
        reunion? Camp Chetek offers a wide range of activities for all ages, we also offer
        comfortable housing and great meeting space overlooking Lake Chetek.
        We also offer bedding upon request as well as delicious meals and snacks.
        We welcome both large and small rentals; between late spring and early fall,
        we can host rentals of up to 300. Between late fall and early spring,
        we can host groups up to 90.
    </p>


    <p class="myP">
        Come and enjoy your self and spend time not having to focus on housing and meals. Kick your feet up and enjoy your stay. We welcome groups a verity of size.
    </p>

    <br />
    <a class="weatherwidget-io" href="https://forecast7.com/en/45d31n91d65/chetek/?unit=us" data-label_1="CHETEK" data-label_2="WEATHER" data-icons="Climacons Animated" data-days="5" data-theme="pure">CHETEK WEATHER</a>
    <script>
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
    </script>

</div>



