
@{
    ViewData["Title"] = "Services";
}

<h1>Services</h1>
<br />
<br />
<div class="align-content-xl-center">
    <h2>Activities</h2>
    <p>
        Water Tubing, Campfires, Pedal-Carts, Laser Tag, Basketball, All Camp  Activities, High Ropes Course*, Blob,
        Bookstore, Ping Pong, Canteen,  Bouldering Wall, Breakfast Cookout*, Camp Grounds  Coffee Shop, Carpet Ball,
        Jumbo Checkers, Swimming, Rifle Range, Human  Foosball, Craft Shop, Air Hockey, Box Hockey, Escape Room, Paintball
        Trips*, Pontoon Cruises, Fabulous Fun Night, Horseback Riding, Archery,  Kayaks, Summit Water Slide, Sand Volleyball,
        Tetherball, Rally Time,  Volleyball, and Many More!
    </p>
    <hr class="my-4" />
    <h2>Meals</h2>
    <p>
        Camp Chetek strives to provide high quality meals that are healthy, appetizing and with sizeable portions.
        Camp Chetek’s goal is to provide a quality menu selection for the groups being served. There will be variations
        in food types, choices offered and a number of options based on the majority being served. There is freezer, cooler,
        and dry storage space available for any personal items brought to supplement the Camp Chetek menu to meet special dietary needs.
    </p>
    <hr class="my-4" />
    <h2>Housing</h2>

    <p>
        Cabin camping at Camp Chetek offers a memorable adventure you're unlikely to find with other accommodations.
        You get the best of both worlds - The convenience of a roof over your head and a bed to sleep in,
        along with the chance to enjoy the great outdoors and all the fun activities that come with camping.
    </p>
    <p>
        Camping comes in many forms, from the die-hard off-the-grid tent campers to the high-end luxury RVers.
        Cabins are an increasingly popular way to enjoy all the best aspects of camping with some extra comforts
        you miss in a tent. With a cabin, you get solid walls and a roof over your head to protect you from the elements
        and give you an added level of security.
    </p>
    <hr class="my-4" />
    <h2>Meeting Space</h2>
    <p>
        Collaboration is the foundation of getting stuff done in the workplace. Meeting with others, sharing ideas, brainstorming, gaining buy-in,
        and aligning on an execution strategy is paramount to driving your business forward.
        Collaboration ranges from having a quiet chat with one other person to generating ideas as a team or videoconferencing with colleagues across the world.

    </p>
    <p>Camp Chetek offers variety of meeting spaces of different sizes and amenities. </p>
</div>
