
@{
    ViewData["Title"] = "WhoWeAre";
}

<h1>Who We Are</h1>

<p class="myP">&nbsp;</p>

<div class="WhoWeAre">
    <img src="~/img/WhoWeAre.jpg"
         alt="WhoWeAre">
</div>
<p class="myP">
    Camp Chetek is a Christian camping ministry located in north-western Wisconsin. We run events year round, with retreats in the fall, winter,
    and spring, and our main camping season in the summer.
    All of our events strive to blend the preaching and teaching of God's Word with a relaxing atmosphere
    and exciting activities. We offer a high quality camping experience filled with activities people
    don't get to do every day. 
</p>
<p class="myP">
    The location of our camp on the Chetek chain of lakes allows us to offer
    water-tubing, kayaks, and swimming, along with our inflatable Blob and Summit. The woods on the back
    of our property are the perfect setting for horse rides, rifle and archery ranges, and our high ropes
    course. These activities, and many more, ensure campers of all ages will have a wonderful time.
    While making the camping part of our ministry enjoyable is one of our goals, it is only to help
    further our main purpose of furthering the Gospel of Jesus Christ to the glory of God. When campers
    are engaged and excited about the activities, it helps them to be engaged during the service times as well.
    We'd love to see you come on over and enjoy Camp Chetek! We know you'll have a wonderful time!
</p>
